body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(248, 238, 238);
    flex-direction: column;
}

.container {
    width: 70%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0 30px;
    transition: margin-top 0.3s ease;
    padding-top: 50px;
}

.card-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px !important;
    height: 300px !important;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    margin-right: 10px;
    border-color: white;
    cursor: pointer;
}

.speaker-card__image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 0.5rem;
}

.speaker-card__name {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.speaker-card__title {
    font-size: 0.875rem;
    color: #666;
}

.speaker-card__company {
    font-size: 0.75rem;
    color: #aaa;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(210, 211, 213) !important;
}

.dummy-button {
    background-color: #003FB4;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    width: 150px;
    height: 30px;
}

.company-text {
    color: #6187D0;
}

.title-text {
    text-align: center;
    margin-bottom: 0;
}

.popover {
    width: 70%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0 30px;
    transition: margin-top 0.3s ease;
    margin-bottom: 10px;
}

.popover-content {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.popover-body {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100% !important;
    height: 150px !important;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 1rem;
    text-align: left;
    border-color: white;
    cursor: pointer;
    object-fit: cover;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: rgb(177, 174, 174);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding-bottom: 20px;
    padding-left: 20px;
}

.popover-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 0.5rem;
    margin-right: 10px
}

.left-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1500px;
}

.divider-line {
    width: 2px;
    color: #C5C5C5;
    margin-right: 10px;
    height: 120px;
}

.pCompany {
    font-size: 0.75rem;
    color: #aaa;
}

.pTitle {
    font-size: 0.875rem;
    color: #666;
}

#speakerDetailsPopover {
    display: none;
}